h4{
    text-align: center;
    margin-top: 10px;
}

/* .header-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    padding-left: 10px;
} */

.navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    padding-left: 10px;

    font-size: 14px;
}

.section-break{
    margin-bottom: 60px;
    font-weight: 400;
}

.about-title{
    font-weight: 500;
  }
  
  .caption{
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .about-description{
    margin-top: -5px;
    color: #999;
  }
  
  @media screen and (max-width: 576px) {
    .about-title{
      font-size: 22px;
    }
    .about-description{
      font-size: 17px;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .about-title{
      font-size: 25px;
    }
    .about-description{
      font-size: 19px;
    }
    #video-area{
        width: 80%
    }
  }
  
  @media screen and (min-width: 993px) {
    .about-title{
      font-size: 30px;
    }
    .about-description{
      font-size: 20px;
    }
    #video-area{
        width: 60%
    }
  }

  .leading-6{
    color: white;
    }